# Logs
logs
*.log
npm-debug.log*

# Runtime data
*-lock.json
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Personal configuration
config/*.json
!config/example.json
